@font-face {
    font-family: 'nimbus_sans_lregular';
     src: url('fonts/NimbusSanL-Reg-webfont.woff') format('woff');
}
@font-face {
    font-family: 'nimbus_sans_lregular_italic';
    src: url('fonts/NimbusSanL-RegIta-webfont.woff') format('woff');
}
@font-face {
    font-family: 'tex_gyre_pagellaregular';
     src: url('fonts/texgyrepagella-regular-webfont.woff') format('woff');
}
@font-face {
    font-family: 'tex_gyre_pagellaitalic';
    src: url('fonts/texgyrepagella-italic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'tex_gyre_pagellabold';
    src: url('fonts/texgyrepagella-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'tex_gyre_pagellabold_italic';
    src: url('fonts/texgyrepagella-bolditalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'latin_modern_mono10_regular';
    src: url('fonts/lmmono10-regular-webfont.woff') format('woff');
}
@font-face {
    font-family: 'latin_modern_mono10_italic';
    src: url('fonts/lmmono10-italic-webfont.woff') format('woff');
}

body, h2, h3, h4, p, table, caption, td {
	font-family: 'tex_gyre_pagellaregular', serif;
	font-size: 12pt;
	font-weight: normal;
    font-style: normal;
	}
p em, h2 em, h3 em, h4 em, p em, caption em, td em, .csl-entry em {
	font-family: 'tex_gyre_pagellaitalic';
	font-size: 12pt;
	font-weight: normal;
    font-style: normal;
	}
b, th {
	font-family: 'tex_gyre_pagellabold';
	font-weight: normal;
    font-style: normal;
}	
b em, em b, th em {
	font-family: 'tex_gyre_pagellabold_italic';
	font-weight: normal;
    font-style: normal;
}
h1 {
	font-family: 'nimbus_sans_lregular', Helvetica, sans-serif;
	font-size: 24pt;
	font-weight: normal;
    font-style: normal;
	}
h1 em {
	font-family: 'nimbus_sans_lregular_italic', Helvetica, sans-serif;
	font-size: 24pt;
	font-weight: normal;
    font-style: normal;
	}
h2 {
	font-family: 'tex_gyre_pagellabold', serif;
	font-size: 14pt;
	font-weight: normal;
    font-style: normal;
}
h2 em {
	font-family: 'tex_gyre_pagellabold_italic', serif;
	font-size: 14pt;
	font-weight: normal;
    font-style: normal;
}
h3 {
	font-family: 'tex_gyre_pagellabold', serif;
	font-size: 12pt;
	font-weight: normal;
    font-style: normal;
}
h3 em {
	font-family: 'tex_gyre_pagellabold_italic', serif;
	font-size: 12pt;
	font-weight: normal;
    font-style: normal;
}
caption{
	color: inherit;
}
.odd, .even {
	border-style: hidden;
}
thead {
	border-top: 1pt solid #000000;
}	
tr:first-of-type {
	border-top: 0.5pt solid #000000;
}
tr:last-of-type {
	border-bottom: 1pt solid #000000;
}
pre, code, .hljs-string, .hljs-keyword {
	font-family: 'latin_modern_mono10_regular';
	font-size: 12pt;
	font-weight: normal;
	font-style: normal;
}
.hljs-comment {
	font-family: 'latin_modern_mono10_italic';
	font-size: 12pt;
	font-weight: normal;
	font-style: normal;
}
.akesheader{
  border-bottom: 1pt solid #000000;
  width: 100%;
}
.headerleft{
}
.headerright{
  float: right;
}
